<!-- 
     Plantilla para dibujar una linea de color, con texto alineado
     Uso:
     include('partials/lineColor',{color: 'peach', string: 'Cultura', align: 'left'})
 -->

<% colorStyle=color;
if(color === 'green')
     colorStyle='chartreuse';
if(color === 'peach')
     colorStyle='peachpuff';
if(color === 'blue')
     colorStyle='aqua';
%>
<div class="row">
    <div class="main-container">
        <div style="background-color: <%= colorStyle %>"></div>
        <div class="<%= align==='right'?'right-text':(align==='center'?'center-text':'left-text') %>"><%= string %></div>
    </div>
</div>