<div class="row">
    <div class="col-md-3 miniSeccion">
        <label>Cultura</label>
        <div>este es un contenido</div>
    </div>
    <div class="col-md-3 miniSeccion">
        <label>Música</label>
        <div>este es un contenido</div>
    </div>
    <div class="col-md-3 miniSeccion">
        <label>Cine</label>
        <div>este es un contenido</div>
    </div>
    <div class="col-md-3 miniSeccion">
        <label>Informamos</label>
        <div>este es un contenido</div>
    </div>
</div>