<div class="row mainPreview">
    <div class="col-md-12">
        <div class="container-fluid">
            <img src="images/main.gif" alt="main gif">
            <div>
                Transmedios<sup>TV</sup>
            </div>                    
        </div>
    </div>
</div>