<% if(text) { %>
    <div class="row">
        <div class="line-text">
            <img src="images/noSignalBar.png">
            <div><%= string %></div>
        </div>
    </div>
<% }else{ %>
    <div class="row">
        <div class="line-untext">
            <img src="images/noSignalBar.png">
        </div>
    </div>
<% } %>