<div class="row">
  <div class="col-md-1">
    <div style="background-color: darkgreen">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-backward icon-backward"></span>
            <!-- <span class="glyphicon glyphicon-chevron-left"  style="border: red 2px solid"></span> -->
            <!-- <span class="sr-only"  style="border: red 2px solid">Previous</span> -->
        </a>
    </div>
  </div>
  <div class="col-md-10">
      <%- include('contentSection'); %>
  </div>
  <div class="col-md-1">
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-forward"></span>
          <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
          <!-- <span class="sr-only">Next</span> -->
        </a>
  </div>       
</div>