<div class="row">
  <div class="col-md-12">
      <div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="color: #ffffff"><span class="glyphicon glyphicon-backward"></span></a>
        </div>
        <%- include('contentSection'); %>
        <div>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-forward"></span></a>
      </div>
  </div>
       
</div>