
<div class="menu-wrapper">
    <ul id="menu-1" class="menu">
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
        <li class="item">6</li>
        <li class="item">7</li>
        <li class="item">8</li>
        <li class="item">9</li>
        <li class="item">10</li>

    </ul>
    
    <div class="paddles">
        <button class="left-paddle paddle hidden" onclick="fncScroll(0, 'menu-1')">
            <
        </button>
        <button class="right-paddle paddle" onclick="fncScroll(1, 'menu-1')">
            >
        </button>
    </div>
</div>