<!--

<h2>Pagina principal2</h2>
<h2>Lista</h2>
<ul>
    <% for(var video of listaVideos){%>
        <li><%= video.titulo%></li>
    <%}%>
</ul>

-->
<% include partials/mainPreview %>
<div class="row">
    <div style="margin-top: 50px; margin-bottom: 50px">
        <img src="images/noSignalBar.png" style="width: 100%; height: 5px;">
    </div>
</div>
<% include partials/mainSections %>