#myNavbar
{
    /* Colores a la barra de menu*/
    background-color: #000000;
    font-size: x-large;
    margin-left: 0px;
    margin-right: 0px;
}

#myNavbar>ul>li>a
{
    color: #000000;
}

a.navbar-brand
{
    background-color: black;
    color: #ffffff !important;
    font-size: x-large;
}

ul.dropdown-menu, ul.dropdown-menu>li>a
{
    background-color: #0f0f0f;
}

ul.dropdown-menu>li :hover
{
    background-color: #0f0f0f;
    color: #ffffff;
}

ul>li.dropdown>a, ul>li>a
{
    background-color: #ffffff;
}


/* Codigo para que la barra de menu abarque toda la pagina web*/
.navbar-fixed-top>.container-fluid
{
    padding-left: 0px;
    padding-right: 0px;
}

#newLogoTv
{
    background: #000000;
    padding-top: 20%;
    color: #ffffff !important;
    display: inline-block;
}

/* 
* Estilo para cambio de colores en la barra de menu
* al colocar el raton sobre alguna opcion
*/
.menuItem :hover, .btnSearch > a
{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.btnSearch :hover
{
    background-color: #ffffff !important;
    color: #000000 !important;
}
