/* Clase para el div principal, dentro del div row, que contiene la imagen(img) */
.line-untext
{
    margin-top: 50px; 
    margin-bottom: 50px;
}

/* Clase para el div principal, dentro del div row, que contiene la imagen(img) y el texto(div) */
.line-text
{
    margin-top: 50px; 
    margin-bottom: 50px; 
    position: relative;
    text-align: center; 
    color: #ffffff;
}

/* Estilo que se aplica a la imagen para ambos casos (con texto y sin texto) */
.line-untext > img, .line-text > img
{
    width: 100%;
    height: 5px;
}



/* Estilo para el div que contiene el texto */
.line-text > div
{
    position:absolute;
    margin: 0px;
    padding: 0px 30px 0px 30px; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 5vw; 
    background-color: #000000;
}